<div class="columns is-gapless is-hidden-touch">
  <div class="column is-9">
    <div class="holder">
      <a href="{{site.baseurl}}learn-more" class="triangle1-wrapper">
        <div class="tri-text-1 tri-text">
          <h2><span>Learn</span> More</h2>
          <p>about the farmers, process, & country</p>
        </div>
        <div class="triangle1 triangle"></div>
      </a>
      <a href="{{site.baseurl}}learn-more" class="triangle2-wrapper">
        <div class="tri-text-2 tri-text">
          <h2><span>Sample</span> Beans</h2>
          <p>request a sample, taste the difference</p>
        </div>
        <div class="triangle2 triangle"></div>
      </a>
    </div>
  </div>
  {% include desktop-sidebar.html %}
</div>
