<div class="columns is-gapless is-hidden-touch">
  <div class="column is-3 home-column is-hidden-touch">
      <ul class="menu-items">
        {% include menu-items.html %}
      </ul>
  </div>
  <div class="column is-7">
    <div class="holder">
      <a href="http://www.google.com" target="_blank">
        <div class="triangle1">
        </div>
      </a>
      <div class="triangle2">

      </div>
    </div>
  </div>
  <div class="column is-2 home-column is-hidden-touch">
        <img class="sidebar-photo" src="assets/images/bags.png" alt="">
      {% include social.html %}
  </div>
</div>
