<div class="columns is-gapless is-hidden-touch">
  {% include desktop-sidebar.html %}
  <div class="column is-7">
    <div class="holder">
      <a href="http://www.google.com" target="_blank">
        <div class="triangle1 triangle">
          <div class="tri-text-1">
            <h2>Learn More</h2>
            <p>about the farmers, process, & country</p>
          </div>

        </div>
      </a>
      <div class="triangle2 triangle">
        <div class="tri-text-2">
          <h2>Sample Beans</h2>
          <p>request a sample, taste the difference</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-2 is-hidden-touch">
      <div class="sidebar-photos">
        <a href="http://www.google.com" target="_blank">
          <div class="triangle3 triangle"></div>
        </a>
        <div class="triangle4 triangle"></div>
      </div>
      <div class="home-column social-column">
        {% include social.html %}
      </div>

  </div>
</div>
