<a href="{{site.baseurl}}{{site.facebook}}"></a>
  <div class="social social-facebook">
    <span class="icon">
      <i class="fa fa-facebook"></i>
    </span>
  </div>
</a>
<a href="{{site.baseurl}}{{site.facebook}}"></a>
  <div class="social social-instagram">
    <span class="icon">
      <i class="fa fa-instagram"></i>
    </span>
  </div>
</a> 
<a href="mailto:{{site.email}}"></a>
  <div class="social social-email">
    <span class="icon">
      <i class="fa fa-envelope"></i>
    </span>
  </div>
</a>