// Desktop Menu
.desktop-menu {
  padding: 2em 2em;
  img {
    max-width: 22vw;
  }
}

.menu-btn {
  display: block;
  position: absolute;
  z-index: 3;
  border: none;
  background: transparent;
  height: 13vh;
  padding: 5vh;
}
.abbia-logo {
  height: 26vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-items {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: left;
  height: 60vh;
  li {
    font-size: 2.5vw;
  }
  li:first-child {
    margin-top: 5vh;
  }
  li:last-child {
    margin-bottom: 3vh;
  }
  span {
    font-weight: 900;
  }
}

// Home Right Sidebar
.desktop-sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar-top {
  div {
    a {
      color: white;
    }
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    color: white;
    &:hover {
      filter: brightness(85%);
    }
    span {
      font-weight: 900;
    }
  }
  .give-feedback {
    background: #4C4F5A;
  }
}
.sidebar-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-photos {
  height: 26vh;
}
.social-column {
  height: 60vh;
  justify-content: space-around!important;
}
.social {
  color: #fff;
  font-size: 3.4vw;
  text-align: center;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.social-facebook {
  background: #646E84;
}
.social-instagram {
  background: #AFB2B9;
}
.social-email {
  background: #CECECC;
}
.social:hover {
  filter: brightness(85%);
}
