@charset "utf-8";

@font-face {
  font-family: 'Avenir';
  src: url(../fonts/AvenirLTStd-Light.otf) format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url(../fonts/AvenirLTStd-Heavy.otf) format("opentype");
  font-weight: bold;
}

// Our variables
$base-font-family: "Avenir", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;



$text-color:       #111;
$background-color: #E5E3E6;

$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@import "bulma";
@import "mobile";
@import "desktop-sidebars";
@import "pushy";

body {
  background-color: #e5e3e6;
  font-family: $base-font-family;
}

.columns, .navbar, .footer {
  background-color: $background-color;
}
a {
  color: #4A4A4A;
}

@media screen and (min-width: $desktop) {
    body {
      //padding: 7vh 0;
    }
}

// Home Page

.toggle-logo {
  max-width: 15vw;
}
.home-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.holder {
  position: relative;
  height: 100vh;
}
.triangle {
  height: 100%;
  width: 100%;
  position: relative;
  transition: all 1s;
  &:hover {
      -webkit-filter: brightness(55%);
  }
}

.tri-text {
  position: absolute;
  z-index: 1;
  color: white;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  h2 {
    text-transform: uppercase;
    font-size: 4.5vw;
    span {
      font-weight: 900;
    }
  }
  p {
    font-size: 1.5vw;
  }
}

.triangle1-wrapper:hover {
  .tri-text-1 {
    color: white;
    right: 18vw;
  }
}

.triangle2-wrapper:hover {
  .tri-text-2 {
    color: white;
    left: 18vw;
  }
}

.tri-text-1 {
  //left: 13.5em;
  right: -13.4em;
  bottom: 3em;
  text-align: right;
  color: transparent;
}
.triangle1 {
  background: url("../images/worker.png");
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-size: cover;
  float: left;
}
.tri-text-2 {
  left: -10em;
  top: 4em;
  color: transparent;
}
.triangle2 {
  background: url("../images/bags.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.triangle3 {
  background: url("../images/choc.jpg");
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-size: cover;
  float: left;
}
.triangle4 {
  background: url("../images/bean.jpg");
  -webkit-clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  background-size: cover;
}


@import "pages";
