@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #E5E3E6;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@import "bulma";

body {
  background-color: $background-color;
}

// Mobile
.top-images {
  img {
    width: 100%;
  }
}

// Mobile menu
/* PUSH MENU */
#menu-switch{
  display:none;
}
#menu {
    position: fixed;
    top: 0;
    left: -300px;

    width: 300px;
    height: 100%;
    padding: 50px 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
    text-align: center;

    background-color: #fff;
}
#menu .brand {
    height: 51px;

    font-size: 70px;
    font-weight: 900;
    line-height: .6;

    color: #ddd;
}
#menu ul {
    padding: 0;
    margin-top: 30px;
}

#menu ul li a {
    display: block;

    font-weight: 900;
    line-height: 50px;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    text-decoration: none;
    text-transform: uppercase;

    color: #232629;
    border-top: 1px solid #eee;
}
#menu ul li:last-child a {
    border-bottom: 1px solid #eee;
}
#menu ul li a:hover {
    letter-spacing: 1px;
}
#menu-switch:checked ~ #menu {
    left: 0;
}
// Menu
.menu-items {
  text-transform: uppercase;
  padding: 0 2em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  img {
    max-width: 300px;
  }
  li {
    margin-bottom: 2em;
    font-size: 2.5em;
  }
  li:first-child {
    margin-top: 1.5em;
  }
  li:not(:last-child) {
    margin-bottom: 3em;
  }
  span {
    font-weight: bold;
  }
}
// Home Right Sidebar

.sidebar-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social {
  background: #4C4E5A;
  border-radius: 100%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  color: #fff;
  display: table-cell;
  font-size: 3.4em;
  height: 60px;
  padding: 1em;
  text-align: center;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  &:last-child {
    margin-bottom: 1.5em;
  }
}
.social:hover {
  background: rgba(0, 0, 0, 0.6);
}
// Home Page
.home-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.holder {
  height: 100vh;
  max-width: 100%;
}
.triangle1, .triangle2 {
  height: 100%;
  width: 100%;
  position: relative;
  background: black;
  transition: all 1s;
  &:hover {
      -webkit-filter: brightness(55%);
  }
}
.holder {
  .triangle1 {
    background: url("../images/worker.jpeg");
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    float: left;
  }
  .triangle2 {
    background: url("../images/bags.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
}
