@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #E5E3E6;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

body {
  background-color: $background-color;
}
// Menu
.menu-items {
  text-transform: uppercase;
  padding: 0 2em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  img {
    max-width: 300px;
  }
  li {
    margin-bottom: 2em;
    font-size: 2.5em;
  }
  li:first-child {
    margin-top: 1.5em;
  }
  li:not(:last-child) {
    margin-bottom: 3em;
  }
  span {
    font-weight: bold;
  }
}

// Home Right Sidebar

.sidebar-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social {
  background: #4C4E5A;
  border-radius: 100%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  color: #fff;
  display: table-cell;
  font-size: 3.4em;
  height: 60px;
  padding: 1em;
  text-align: center;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  &:last-child {
    margin-bottom: 1.5em;
  }
}
.social:hover {
  background: rgba(0, 0, 0, 0.6);
}
// Home Page
.home-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.holder {
  height: 100vh;
  max-width: 100%;
}
.triangle1, .triangle2 {
  height: 100%;
  width: 100%;
  position: relative;
  background: black;
  transition: all 1s;
  &:hover {
      -webkit-filter: brightness(55%);
  }
}
.holder {
  .triangle1 {
    background: url("https://placeimg.com/640/480/any");
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    float: left;
  }
  .triangle2 {
    background: url("../images/bags.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
}
