
.page-triangle{
  background: url("../images/learn.jpeg");
  -webkit-clip-path: polygon(0 0, 0 86%, 66% 0);
  clip-path: polygon(0 0, 0 86%, 66% 0);
  background-size: cover;
  float: left;
  &:hover {
    -webkit-filter: none;
  }
}

.page-wrapper {
  background-color: white;
  .learn-header-img {
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    object-position: 0 0;
  }
}

.text-wrapper {
  background-color: white;
  h1 {
    span {
      font-weight: 900;
    }
  }
  p {
    margin-bottom: 1em;
    margin-left: 10vw
  }
}
