<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include desktop-menu.html %}

    <div class="" id="container">
      <button class="button navbar-burger menu-btn is-hidden-touch">
        <span></span>
        <span></span>
        <span></span>
      </button>
        {{ content }}
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script type="text/javascript">
      src="https://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.2.0/kinetic.min.js"
    </script>
  <!-- JS -->
  <!-- inject:js -->
  <!-- endinject -->

  </body>

</html>
