---
layout: default
---
<div class="is-hidden-desktop">
  {% include mobile-menu.html %}
  <div class="column is-12">
    <img src="{{site.baseurl}}assets/images/img27.jpg" alt="" class="learn-header-img">
    <div class="column is-10 is-offset-2 text-wrapper">
      <div class="text has-text-black">
        {{content}}
      </div>
    </div>
  </div>

  {% include footer.html %}
</div>

<div class="page-wrapper columns is-hidden-touch">
  <div class="column is-12">
    <img src="{{site.baseurl}}assets/images/img27.jpg" alt="" class="learn-header-img">
    <div class="column is-10-desktop is-offset-2-desktop text-wrapper">
      <div class="text has-text-black">
        {{content}}
      </div>
    </div>
  </div>


</div>
