<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="" id="container">
      <div class="is-hidden-desktop">
        {% include mobile-menu.html %}
        <div class="column is-12">
          <img src="{{site.baseurl}}assets/images/{{page.header_img_mobile}}" alt="" class="learn-header-img">
          <div class="column is-10-desktop is-offset-2-desktop text-wrapper">
            <div class="text has-text-black">
              {{content}}
            </div>
          </div>
          <div class="learn-pics-middle">
            {% for img in page.section2imgs %}
              <div class="learn-pic"><img src="{{site.baseurl}}assets/images/{{img}}"/></div>
            {% endfor %}
          </div>
          <div class="column is-10-desktop is-offset-2-desktop text-wrapper">
            <div class="text has-text-black">
              {% contentblock section2 %}
            </div>
          </div>
          <div class="learn-pics-middle">
            {% for img in page.section3imgs %}
              <div class="learn-pic"><img src="{{site.baseurl}}assets/images/{{img}}"/></div>
            {% endfor %}
          </div>
          <div class="column is-10-desktop is-offset-2-desktop text-wrapper">
            <div class="text has-text-black">
              {% contentblock section3 %}
            </div>
          </div>
          <div class="learn-pics-middle">
            {% for img in page.section4imgs %}
              <div class="learn-pic"><img src="{{site.baseurl}}assets/images/{{img}}"/></div>
            {% endfor %}
          </div>
          <div class="column is-10-desktop is-offset-2-desktop text-wrapper">
            <div class="text has-text-black">
              {% contentblock section4 %}
            </div>
          </div>
        </div>

        {% include footer.html %}
      </div>

      <div class="page-wrapper columns is-hidden-touch">
        <div class="column is-3 fixed-sidebar">
          {% include openmenu.html %}
        </div>
        <div class="column is-9 scroll-content">
          <img src="{{site.baseurl}}assets/images/{{page.header_img}}" alt="" class="learn-header-img">
          <div class="column is-10-desktop is-offset-2-desktop text-wrapper">
            <div class="text has-text-black">
              {{content}}
            </div>
          </div>
          <div class="learn-pics-middle">
            {% for img in page.section2imgs %}
              <div class="learn-pic"><img src="{{site.baseurl}}assets/images/{{img}}"/></div>
            {% endfor %}
          </div>
          <div class="column is-10-desktop is-offset-2-desktop text-wrapper">
            <div class="text has-text-black">
              {% contentblock section2 %}
            </div>
          </div>
          <div class="learn-pics-middle">
            {% for img in page.section3imgs %}
              <div class="learn-pic"><img src="{{site.baseurl}}assets/images/{{img}}"/></div>
            {% endfor %}
          </div>
          <div class="column is-10-desktop is-offset-2-desktop text-wrapper">
            <div class="text has-text-black">
              {% contentblock section3 %}
            </div>
          </div>
          <div class="learn-pics-middle">
            {% for img in page.section4imgs %}
              <div class="learn-pic"><img src="{{site.baseurl}}assets/images/{{img}}"/></div>
            {% endfor %}
          </div>
          <div class="column is-10-desktop is-offset-2-desktop text-wrapper">
            <div class="text has-text-black">
              {% contentblock section4 %}
            </div>
          </div>
        </div>




      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script type="text/javascript">
      src="https://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.2.0/kinetic.min.js"
    </script>
  <!-- JS -->
  <!-- inject:js -->
  <!-- endinject -->

  </body>

</html>
